name: CBS Updater
on:
  schedule:
    - cron: '*/15 * * * *'  # Every 15 minutes
  workflow_dispatch:
    inputs:
      sheet_data:
        description: 'Optional sheet data from external trigger'
        required: false
        default: '{}'
jobs:
  fetch:
    runs-on: ubuntu-latest
    continue-on-error: true
    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'
      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install google-api-python-client
          pip install pytz
      - name: Run fetch-issues.py
        run: python cbs-runner/fetch-issues.py
        env:
          PYTHONPATH: ${{ github.workspace }}
          TEAM_CDS_SERVICE_ACCOUNT_JSON: ${{ secrets.TEAM_CDS_SERVICE_ACCOUNT_JSON }}
          SHEET_SYNC_SID: ${{ secrets.SHEET_SYNC_SID }}
          CBS_SID: ${{ secrets.CBS_SID }}
          SHEET_DATA: ${{ github.event.inputs.sheet_data }}
      - name: Run fetch-mrs.py
        run: python cbs-runner/fetch-mrs.py
        env:
          PYTHONPATH: ${{ github.workspace }}
          TEAM_CDS_SERVICE_ACCOUNT_JSON: ${{ secrets.TEAM_CDS_SERVICE_ACCOUNT_JSON }}
          SHEET_SYNC_SID: ${{ secrets.SHEET_SYNC_SID }}
          CBS_SID: ${{ secrets.CBS_SID }}
          SHEET_DATA: ${{ github.event.inputs.sheet_data }}
